.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

body.modal-open {
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.form__button, .social__link, .work__item-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__button, .form__button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .form__button:focus, .hero__button:hover, .form__button:hover {
  background-color: #188ce8;
  cursor: pointer;
}

.hero__button {
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  padding: 10px 32px;
}

.form__button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.menu {
  padding: 0;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
  }
}

.menu__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .menu__link {
    display: inline-block;
    padding: 12px 0;
  }
}

@media screen and (min-width: 768px) {
  .menu__link {
    display: block;
    padding: 32px 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu__link {
    padding: 32px 0;
  }
}

@media screen and (min-width: 768px) {
  .menu__item + .menu__item {
    margin-left: 50px;
  }
}

.contacts {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
  }
}

.contacts__address-link {
  color: #757575;
}

@media screen and (min-width: 768px) {
  .contacts__address-link {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__address-link {
    display: inline-flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.contacts__mail-icon {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts__tel-icon {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .menu-mobile-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1000;
  }
  .menu-mobile-form.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .menu-mobile-form.is-open .menu-mobile__icon-cross {
    display: block;
    fill: #000000;
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .menu-mobile-form {
    display: none;
  }
}

.menu-mobile-form-container {
  position: relative;
  padding: 48px 15px 48px 25px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .menu-mobile-form-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobile-form-container {
    display: none;
  }
}

.menu-close-button {
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  line-height: 0;
}

.menu-close-button:hover, .menu-close-button:active, .menu-close-button:focus {
  fill: #2196f3;
  cursor: pointer;
}

.menu-close-button__icon-cross {
  width: 40px;
  height: 40px;
}

.menu-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.socila-mobile {
  display: flex;
  justify-content: space-between;
}

.mobile_link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.mobile-address {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.socila-mobile__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socila-mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  color: #000000;
}

.logo__part-web {
  color: #2196f3;
}

.footer__logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.backdrop.is-hidden .button-close {
  transform: scale(0.8);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 528px;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: calc(50% - 283px);
  left: calc(50% + 226px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 102;
  transform: rotateZ(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button .modal__icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.modal__button:hover {
  color: #2196f3;
  transform: rotateZ(0deg);
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.form__submot {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .form__submot {
    display: flex;
    align-items: center;
  }
}

.form__input {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  padding: 16px 0 16px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus, .form__input:hover {
  border: 1px solid rgba(33, 150, 243, 0.3);
}

.form__send-icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  margin: 10px;
}

.modal__form {
  background: #ffffff;
  height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal__inputs {
  display: flex;
  flex-direction: column;
}

.modal__group {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__input-group {
  position: relative;
}

.modal__input-info {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  color: #212121;
  outline: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-group:focus-within > .modal__input-info {
  border: 1px solid #2196f3;
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-group:focus-within > .modal__input-icon {
  fill: #2196f3;
}

.modal__group-comment {
  margin-bottom: 20px;
}

.modal__comment {
  color: #212121;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__group-comment:focus-within > .modal__comment {
  border: 1px solid #2196f3;
}

.modal__confirm {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: #212121;
  margin-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: #212121;
  border: 2px solid currentColor;
  border-radius: 4px;
  margin-left: 14px;
  margin-right: 7px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__confirm-checkbox:checked + .modal__checkbox-icon {
  background-image: url("../images/check.svg");
  background-color: #2196f3;
  background-size: contain;
  background-origin: padding-box;
  border-color: #2196f3;
}

.modal__confirm-checkbox:focus + .modal__checkbox-icon,
.modal__confirm:focus > .modal__checkbox-icon,
.modal__confirm:hover > .modal__checkbox-icon {
  cursor: pointer;
  color: #2196f3;
}

.modal__button-submit {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  padding: 10px 56px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit:focus, .modal__button-submit:hover {
  cursor: pointer;
  background-color: #188ce8;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:focus, .social__link:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.footer__social-list {
  align-items: baseline;
}

.footer__social-link {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.header {
  background: #ffffff;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: unset;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;
    justify-content: space-between;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current {
  color: #2196f3;
}

.current::after {
  display: block;
  left: 0;
  bottom: 0;
  position: absolute;
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.header__menu-button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  line-height: 0;
}

.header__menu-button:hover, .header__menu-button:active, .header__menu-button:focus {
  fill: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__icon-menu {
  width: 40px;
  height: 40px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__list {
  padding: 0;
  margin: 0;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: #ffffff;
}

.address__smart {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer__list {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-block {
    margin: 0 93px 19px 70px;
  }
}

.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .footer__social-title {
    margin-bottom: 19px;
  }
}

.hero {
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  height: 400px;
  max-width: 480px;
  margin: 0 auto 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  max-width: 360px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.specifics {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .specifics {
    padding-top: 99px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .specifics__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .specifics__list {
    flex-wrap: nowrap;
    margin-right: 0;
  }
}

.specifics__item {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .specifics__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .specifics__item {
    width: calc((100% - 3 * 30px) / 4);
  }
  .specifics__item:not(:last-child) {
    margin-right: 30px;
  }
}

.specifics__icon {
  fill: currentColor;
  width: 70px;
  height: 70px;
}

.specifics__icon--allign-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.specifics__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.specifics__text {
  line-height: 1.71;
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  width: 100%;
  margin: 0 0 50px 0;
}

.work__list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.work__item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item-title {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  line-height: 1.17;
  font-size: 28px;
  text-align: center;
  color: #212121;
  width: 100%;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin: 0 0 50px 0;
  }
}

.team__list {
  padding-left: 0;
  margin-bottom: calc(-1 * 30px);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.person_card {
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .person_card {
    width: calc((100% - 30px) / 2);
  }
  .person_card:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .person_card {
    width: calc((100% - 4 * 30px) / 4);
    margin-right: 30px;
  }
}

.person__data-block {
  padding: 30px;
  margin: 0 auto;
  display: inline-block;
}

.person__name {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  margin: 0 0 10px 0;
  line-height: 1.187;
}

.person__profession {
  margin-bottom: 16px;
}

.person__img {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .person__img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .person__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .person__img {
    width: 270px;
    height: 260px;
  }
}

.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  width: 100%;
  margin: 0 0 50px 0;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-right: calc(-1 * 30px);
  margin-bottom: calc(-1 * 30px);
}

.clients__item {
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  background-color: #ffffff;
  color: #afb1b8;
  border-radius: 4px;
  width: calc((100% - 2 * 30px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients__item:hover {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus {
  color: #2196f3;
}

.filters__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.filters__item {
  margin-right: 8px;
}

.filters__button {
  display: block;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.63;
  text-align: center;
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:focus, .filters__button:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-right: calc(-1 * 30px);
  margin-bottom: calc(-1 * 30px);
}

.cards__item {
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  width: calc( (100% - 3) * 30px / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__item:focus, .cards__item:active, .cards__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.08), 1px 4px 6px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.cards__link {
  font-size: 18px;
  line-height: 1.56;
}

.cards__link:focus, .cards__link:active, .cards__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.08), 1px 4px 6px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.cards__img {
  position: relative;
  overflow: hidden;
}

.cards__text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.cards__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  color: #212121;
  margin: 0 0 4px 0;
}

.cards__type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__link:focus .overlay,
.cards__link:hover .overlay {
  transform: translatey(0);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */