@import "./utils/variables";
@import "./utils/visually-hidden";

@import "./base/common";
@import "./base/base";
@import "./base/container";
@import "./base/section";
@import "./utils/placeholders";
@import "./utils/mixins";

@import "./components/button";
@import "./components/menu";
@import "./components/contacts";
@import "./components/mobile_menu";
@import "./components/logo";
@import "./components/backdrop";
@import "./components/modal_form";
@import "./components/form_submot";
@import "./components/modal";
@import "./components/social-icons-list";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/hero";
@import "./layout/specifics";
@import "./layout/work";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/portfolio";
