.footer {
  background-color: $footer-background-color;

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__list {
  padding: 0;
  margin: 0;

  @media screen and (max-width: $desktop - 1px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: $main-footer-text-color;
}

.address__smart {
  color: $address-smart-color;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    align-items: baseline;

    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__address-wrapper {
  display: flex;
  @media screen and (max-width: $tablet - 1px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: $desktop - 1px) {
    margin-bottom: 60px;
  }
}

.footer__address {
  @media screen and (max-width: $desktop - 1px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.footer__social-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: $color-white;

  @media screen and (min-width: $desktop) {
    margin-bottom: 19px;
  }
}

.footer__social-list {
  margin-top: 20px;
}
