.footer {
  background-color: $footer-background-color;
  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
  }
}

.address__list {
  padding: 0;
  margin: 0;
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
    @media screen and (min-width: $mobile) {
    }

    @media screen and (min-width: $tablet) {
    }

    @media screen and (min-width: $desktop) {
    }
  }
}

.address__link {
  color: $main-footer-text-color;
}

.address__smart {
  color: $address-smart-color;
}

.footer__list {
  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__social-block {
  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    margin: 0 93px 19px 70px;
  }
}

.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  color: $color-white;
  text-transform: uppercase;
  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 19px;
  }
}
