.footer {
  background-color: $footer-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__list {
  padding: 0;
  margin: 0;
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: $main-footer-text-color;
}

.address__smart {
  color: $address-smart-color;
}

.footer__list {
  display: flex;
  align-items: baseline;
}

.footer__social-block {
  margin: 0 93px 19px 70px;
}

.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 19px;
}
