.header {
  display: flex;
  align-items: center;
  background: $color-white;

  @media screen and (max-width: $tablet - 1px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    border-bottom: 1px solid $border-color;
    justify-content: space-between;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  @media screen and (min-width: $tablet) {
    margin-right: 70px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}

.header__site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current {
  color: $accent-color;

  // @media screen and (min-width: $tablet) {
  &::after {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    content: "";
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    // }
  }
}

.header__menu-button {
  background-color: transparent;
  line-height: 0;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;

  &:hover,
  &:active,
  &:focus {
    fill: $accent-color;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header__menu-button-icon {
  width: 40px;
  height: 40px;
}
