.hero {
  background-image: linear-gradient(
      to top,
      $hero-gradient-color,
      $hero-gradient-color
    ),
    url(../images/mobile/hero/hero_bg@1x_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $color-white;
  text-align: center;
  height: 400px;
  max-width: $tablet;
  margin: 0 auto 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2) and (max-width: $tablet - 1px),
    (min-resolution: 192dpi) and (max-width: $tablet - 1px),
    (min-resolution: 2dppx) and (max-width: $tablet - 1px) {
    background-image: linear-gradient(
        to top,
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url(../images/mobile/hero/hero_bg@2x_mobile.jpg);
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to top,
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url(../images/tablet/hero/hero_bg@1x_tablet.jpg);
    max-width: $desktop;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          $hero-gradient-color,
          $hero-gradient-color
        ),
        url(../images/tablet/hero/hero_bg@2x_tablet.jpg);
      max-width: $desktop;
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to top,
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url(../images/desktop/hero/hero_bg@1x_desktop.jpg);
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          $hero-gradient-color,
          $hero-gradient-color
        ),
        url(../images/desktop/hero/hero_bg@2x_desktop.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto $margin-30 auto;
  max-width: 360px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
