.filters {
  &__list {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-right: -8px;

    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: -15px;
    }

    @media screen and (max-width: $desktop - 1px) {
      flex-wrap: wrap;
      margin-bottom: 25px;
    }

    @media screen and (min-width: $desktop) {
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  &__item {
    margin-right: 8px;

    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: 15px;
    }
  }

  &__button {
    display: block;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.63;
    text-align: center;
    background-color: $portfolio-filters-background;
    color: $secondary-text-color;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition: color $anim-duration $anim-timing-function,
      background-color $anim-duration $anim-timing-function,
      box-shadow $anim-duration $anim-timing-function;

    &:focus,
    &:hover {
      background-color: $accent-color;
      color: $color-white;
      cursor: pointer;
      box-shadow: 0px 3px 1px $portfolio-shadow-color-first,
        0px 1px 2px $portfolio-shadow-color-second,
        0px 2px 2px $portfolio-shadow-color-third;
    }
  }
}

.cards {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;

    @media screen and (max-width: $tablet - 1px) {
      width: 100%;
    }
  }

  &__item {
    position: relative;
    box-sizing: border-box;
    background-color: $main-portfolio-background;
    width: 100%;

    border-left: 1px solid $portfolio-border-color;
    border-bottom: 1px solid $portfolio-border-color;
    border-right: 1px solid $portfolio-border-color;
    transition: box-shadow $anim-duration $anim-timing-function;

    &:focus,
    &:active,
    &:hover {
      box-shadow: 0px 1px 1px $portfolio-shadow-color-first,
        0px 4px 4px $portfolio-shadow-color-second,
        1px 4px 6px $portfolio-shadow-color-third;
      border-radius: 4px;
    }

    &:not(:last-child) {
      margin-bottom: $margin-30;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      width: calc((100% - #{$margin-30}) / 2);
      &:nth-child(2n + 1) {
        margin-right: $margin-30;
      }
    }

    @media screen and (min-width: $desktop) {
      width: calc(
        (100% - (#{$cards-list-count} - 1) * #{$margin-30}) / #{$cards-list-count}
      );

      &:not(:last-child) {
        margin-right: $margin-30;
      }

      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }

      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.56;

    &:focus,
    &:active,
    &:hover {
      box-shadow: 0px 1px 1px $portfolio-shadow-color-first,
        0px 4px 4px $portfolio-shadow-color-second,
        1px 4px 6px $portfolio-shadow-color-third;
      border-radius: 4px;
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
  }

  &__text {
    padding: 20px 24px;
  }

  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 2;
    color: $secondary-text-color;
    margin: 0 0 4px 0;
  }

  &__type {
    font-size: 16px;
    line-height: 1.87;
    color: $main-text-color;
    margin: 0;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 18px;
  line-height: 1.56;
  background-color: $overlay-background-color;
  color: $color-white;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  transform: translatey(100%);
  transition: transform $anim-duration $anim-timing-function,
    opacity $anim-duration $anim-timing-function;

  .cards__link:focus &,
  .cards__link:hover & {
    transform: translatey(0);
    opacity: 1;
  }
}
