.specifics {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    padding-top: 99px;
    padding-bottom: 47px;
  }
}

.specifics__list {
  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -1 * $margin-30;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    margin-right: 0;
  }
}

.specifics__item {
  font-size: 14px;
  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * #{$margin-30}) / 2);

    margin-right: $margin-30;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * #{$margin-30}) / 4);

    &:not(:last-child) {
      margin-right: $margin-30;
    }
  }
}

.specifics__icon {
  @include settings__icons(currentColor, 70px, 70px);

  &--allign-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $specifics-icon-background-color;
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
  }
}

.specifics__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 10px;
}

.specifics__text {
  line-height: 1.71;
}

@media screen and (min-width: $mobile) {
}

@media screen and (min-width: $tablet) {
}

@media screen and (min-width: $desktop) {
}
