.contacts {
  padding: 0;

  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.contacts__address-link {
  color: $main-text-color;

  @media screen and (min-width: $tablet) {
    padding: 0;
  }

  @media screen and (min-width: $desktop) {
    display: inline-flex;
    align-items: center;
  }
}

.contacts__item + .contacts__item {
  @media screen and (min-width: $tablet) {
    margin-top: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-left: 30px;
  }
}

.contacts__mail-icon {
  @include settings__icons(currentColor, 16px, 12px);
  margin-right: 10px;
}

.contacts__tel-icon {
  @include settings__icons(currentColor, 10px, 16px);
  margin-right: 10px;
}
