.logo {
  @include font(26px, 31px, 700, $font-family-releway);
  color: $color-black;

  &__part-web {
    color: $accent-color;
  }
}

.footer__logo {
  display: block;
  @include font(26px, 31px, 700, $font-family-releway);
  color: $main-footer-text-color;

  @media screen and (min-width: $mobile) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;
  }
}
