.menu {
  padding: 0;
  color: $secondary-text-color;

  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
  }
}

.menu__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  transition: color $anim-duration $anim-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $mobile) {
    display: inline-block;
    padding: 12px 0;
  }

  @media screen and (min-width: $tablet) {
    display: block;
    padding: 32px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 32px 0;
  }
}

.menu__item + .menu__item {
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}
