.menu-mobile-form {
  @media screen and (max-width: $tablet - 1px) {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    // background-color: $color-white;
    background-color: aqua;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1000;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-mobile__container {
  @media screen and (max-width: $tablet - 1px) {
    padding-top: 49px;
    padding-bottom: 49px;
    margin-left: 25px;
    margin-right: 25px;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  line-height: 0;
  width: 40px;
  height: 40px;
  z-index: 1050;

  &:hover,
  &:active,
  &:focus {
    fill: $accent-color;
    cursor: pointer;
  }

  &.is-open .menu-button__icon-menu {
    display: none;
  }

  &.is-open .menu-mobile__icon-cross {
    display: block;
    fill: $color-black;
  }

  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button__icon-cross {
  display: none;
}

.socila-mobile {
  display: flex;
  justify-content: space-between;
}
