.menu-mobile-form {
  @media screen and (max-width: $tablet - 1px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: $color-white;

    // font-size: 20px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1000;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    &.is-open .menu-mobile__icon-cross {
      display: block;
      fill: $color-black;
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}

.menu-mobile-form-container {
  position: relative;
  padding: 48px 15px 48px 25px;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-close-button {
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  line-height: 0;

  &:hover,
  &:active,
  &:focus {
    fill: $accent-color;
    cursor: pointer;
  }
  &__icon-cross {
    width: 40px;
    height: 40px;
  }
}

.menu-mobile__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.socila-mobile {
  display: flex;
  justify-content: space-between;
}

.mobile_link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
}

.mobile-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: $accent-color;

  margin-bottom: 32px;
}

.mobile-address {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $main-text-color;
  margin-bottom: 64px;
}

.socila-mobile__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socila-mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
