.container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: darkkhaki;

  @media screen and (min-width: $mobile) {
    width: $mobile;
    margin: 0 auto;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
