$main-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$main-footer-text-color: #ffffff;
$portfolio-filters-background: #f5f4fa;
$main-portfolio-background: #ffffff;
$main-studio-background: #e5e5e5;
$color-white: #ffffff;
$color-blue: #188ce8;
$color-social-link: #afb1b8;

$cards-list-count: 3;
$margin-30: 30px;
$anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$anim-duration: 250ms;

$font-family-roboto: Roboto, sans-serif;
$font-family-releway: Raleway, sans-serif;
